# Sprint 5 Task 1
> **Statement**

Learn how to perform data mining with Python.
Level 1
- Exercise 1

Get a set of sports-themed data that you like. Perform a data sampling generating a simple random sample and a systematic sample.

> **Simple random sample:**
In a simple random sample, every member of the population has an equal chance of being selected. Your sampling frame should include the whole population.
To conduct this type of sampling, you can use tools like random number generators or other techniques that are based entirely on chance.

> **Systematic sampling:**
Systematic sampling is similar to simple random sampling, but it is usually slightly easier to conduct. Every member of the population is listed with a number, but instead of randomly generating numbers, individuals are chosen at regular intervals.

Level 2

- Exercise 2

Continue with the set of sports-themed data and generate a stratified sample and a sample using SMOTE (Synthetic Minority Oversampling Technique).

> **Stratified sampling:**
Stratified sampling involves dividing the population into subpopulations that may differ in important ways. It allows you draw more precise conclusions by ensuring that every subgroup is properly represented in the sample.
To use this sampling method, you divide the population into subgroups (called strata) based on the relevant characteristic (e.g. gender, age range, income bracket, job role).
Based on the overall proportions of the population, you calculate how many people should be sampled from each subgroup. Then you use random or systematic sampling to select a sample from each subgroup.

> **Oversampling using SMOTE:**
In SMOTE (Synthetic Minority Oversampling Technique) we synthesize elements for the minority class, in the vicinity of already existing elements.

Level 3

- Exercise 3

Continue with the set of sports data and generate a sample using the Reservoir sampling method.

> **Reservoir Sampling:**
In SMOTE (Synthetic Minority Oversampling Technique) we synthesize elements for the minority class, in the vicinity of already existing elements.

In [7]:
# Import Libraries
import numpy as np
import pandas as pd

In [8]:
# Update Libraries first time
# %pip install upgrade numpy
# %pip install upgrade pandas

In [9]:
# Deactivate / Activate warnings
import warnings
# warnings.filterwarnings('ignore')
warnings.filterwarnings("default")

# - Exercise 1

Get a set of sports-themed data that you like. Perform a data sampling generating a simple random sample and a systematic sample.

> **Simple random sample:**
In a simple random sample, every member of the population has an equal chance of being selected. Your sampling frame should include the whole population.
To conduct this type of sampling, you can use tools like random number generators or other techniques that are based entirely on chance.

> **Systematic sampling:**
Systematic sampling is similar to simple random sampling, but it is usually slightly easier to conduct. Every member of the population is listed with a number, but instead of randomly generating numbers, individuals are chosen at regular intervals.

In [10]:
df = pd.read_csv('./game-of-thrones.csv')
df

,Text,Speaker,Episode,Season,Show
0,[First scene opens with three Rangers riding t...,NaN,e1-Winter is Coming,season-01,Game-of-Thrones
1,What d’you expect? They’re savages. One lot s...,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones
2,I’ve never seen wildlings do a thing like thi...,WILL,e1-Winter is Coming,season-01,Game-of-Thrones
3,How close did you get?,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones
4,Close as any man would.,WILL,e1-Winter is Coming,season-01,Game-of-Thrones
...,...,...,...,...,...
33193,The Queen in the North! The Queen in the Nort...,ALL,e6,season-08,Game-of-Thrones
33194,ARYA's ship,CUT TO,e6,season-08,Game-of-Thrones
33195,ARYA stands at the prow and the ship sails awa...,NaN,e6,season-08,Game-of-Thrones
33196,Castle Black,CUT TO,e6,season-08,Game-of-Thrones
33197,"JON rides through the tunnel, with TORMUND beh...",NaN,e6,season-08,Game-of-Thrones

In [11]:
# Let's explore this dataset
round(df.describe(include="all"),1)

         Text Speaker Episode     Season             Show
count   33198   24842   33198      33198            33198
unique  31044     957      50          8                1
top       No.  TYRION      e4  season-02  Game-of-Thrones
freq      103    1543    2005       5357            33198

In [12]:
# Simple random sample:
SampleRandom = df.sample(5,random_state=1)
SampleRandom

,Text,Speaker,Episode,Season,Show
21239,(Smiles). Lord Bolton.,SANSA,e3,season-05,Game-of-Thrones
13383,Karhold!,THEON,e6-The Climb,season-03,Game-of-Thrones
21198,"I'm the sword in the darkness, the watcher on...",OLLY,e3,season-05,Game-of-Thrones
25704,I needed fresh air. The old women stink.,DAENERYS,e4,season-06,Game-of-Thrones
6923,"ARYA sits, expressionless, trying not to be no...",NaN,e4-Garden of Bones,season-02,Game-of-Thrones

In [13]:
# Systematic sampling:
def systematic_sampling(df, step):
    
    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
    
SampleSystematic = systematic_sampling(df, 100)
SampleSystematic

,Text,Speaker,Episode,Season,Show
0,[First scene opens with three Rangers riding t...,NaN,e1-Winter is Coming,season-01,Game-of-Thrones
100,You will train them yourselves. You will feed...,NED,e1-Winter is Coming,season-01,Game-of-Thrones
200,The queen has two brothers?,ROS,e1-Winter is Coming,season-01,Game-of-Thrones
300,And Lady Stark is not your mother. Making you...,TYRION,e1-Winter is Coming,season-01,Game-of-Thrones
400,[The scene shifts to Winterfell. Tyrion and th...,NaN,e1-Winter is Coming,season-01,Game-of-Thrones
...,...,...,...,...,...
32700,They took Missandei.,DAENERYS,e4,season-08,Game-of-Thrones
32800,"TYRION walks forward, alone. He turns a corner...",NaN,e6,season-08,Game-of-Thrones
32900,What?,JON,e6,season-08,Game-of-Thrones
33000,SAM stands.,NaN,e6,season-08,Game-of-Thrones
33100,"TYRION enters first, and looks at the chair in...",NaN,e6,season-08,Game-of-Thrones

In [14]:
# Let's explore a little bit this sample
SampleSystematic.describe()

        Text Speaker Episode     Season             Show
count    332     246     332        332              332
unique   331     125      50          8                1
top      No.  TYRION      e2  season-02  Game-of-Thrones
freq       2      20      20         54              332

# Exercise 2
Continue with the set of sports-themed data and generate a stratified sample and a sample using SMOTE (Synthetic Minority Oversampling Technique).

>**Stratified sampling**: Stratified sampling involves dividing the population into subpopulations that may differ in important ways. It allows you draw more precise conclusions by ensuring that every subgroup is properly represented in the sample. To use this sampling method, you divide the population into subgroups (called strata) based on the relevant characteristic (e.g. gender, age range, income bracket, job role). Based on the overall proportions of the population, you calculate how many people should be sampled from each subgroup. Then you use random or systematic sampling to select a sample from each subgroup.

>**Oversampling using SMOTE**: In SMOTE (Synthetic Minority Oversampling Technique) we synthesize elements for the minority class, in the vicinity of already existing elements.

We keep the following code as example of stratification done with the WorldCups.csv, but discarded as it was a dataset too small.

In [15]:

# OLD CODE - LEFT only for INFORMATION
# Let's stratify by subpopulations of winner's continent (Europe or America)
# df.Winner.unique()

# def continent(country):
#   EuropeanCountries = ('Italy', 'Germany FR','England','France', 'Spain', 'Germany')
#   AmericanCountries = ('Uruguay', 'Brazil', 'Argentina')
#   if country in EuropeanCountries: return "Europe"
#   elif country in AmericanCountries: return "America"
#   else: return "NaN"

# df['Continent'] = df.Winner.apply(continent)
# df.Continent.value_counts()

# Now that we have the stratification (Continent), we just have to choose a random sampling of each continent, 
# based on the overall proportions of the population. (11/9)

# The problem that we found is that our dataset is too small and the number of European Countries are 11, a prime number.
# Let's choose a bigger dataset

In [16]:
df.Season.describe()

count         33198
unique            8
top       season-02
freq           5357
Name: Season, dtype: object

In [17]:
# Let's stratify by Season (season-01 to season-08)
SeasonCounts = pd.DataFrame(df.Season.value_counts()).sort_index(axis=0) 
SeasonCounts

           Season
season-01    4479
season-02    5357
season-03    5295
season-04    4606
season-05    4145
season-06    4064
season-07    3085
season-08    2167

In [18]:
DfCounts = df.Season.count()
DfCounts

33198

In [19]:
SeasonCounts['Proportion']=SeasonCounts['Season'] / DfCounts

In [20]:
# So, we have the total count of registers in season column (33198) and each count of every season.
# Now we can design the sample taking the proporcional amount of samples from each season.
SeasonCounts['Proportion'] = SeasonCounts.Season / DfCounts
SeasonCounts

           Season  Proportion
season-01    4479    0.134918
season-02    5357    0.161365
season-03    5295    0.159498
season-04    4606    0.138743
season-05    4145    0.124857
season-06    4064    0.122417
season-07    3085    0.092927
season-08    2167    0.065275

In [21]:
# Let's choose now a sample of 332 as the SampleSystematic but stratified.
SeasonCounts['Samples'] = round(SeasonCounts.Proportion *331)
SeasonCounts.Samples.sum()

332.0

In [22]:
SeasonCounts.reset_index()

       index  Season  Proportion  Samples
0  season-01    4479    0.134918     45.0
1  season-02    5357    0.161365     53.0
2  season-03    5295    0.159498     53.0
3  season-04    4606    0.138743     46.0
4  season-05    4145    0.124857     41.0
5  season-06    4064    0.122417     41.0
6  season-07    3085    0.092927     31.0
7  season-08    2167    0.065275     22.0

In [23]:
SeasonArray=SeasonCounts.index.values
SeasonArray

array(['season-01', 'season-02', 'season-03', 'season-04', 'season-05',
       'season-06', 'season-07', 'season-08'], dtype=object)

In [24]:
# Now we will take a random sample of each season with the number of samples calculated in SeasonCounts

# First Season
NumSamples = int(SeasonCounts.at['season-01','Samples'])
SampleStratified = df[df.Season =='season-01'].sample(NumSamples,random_state=1) 
SampleStratified.count()

Text       45
Speaker    35
Episode    45
Season     45
Show       45
dtype: int64

In [25]:
# Rest of Seasons
for x in range(1,8):
    Season = SeasonArray[x]
    NumSamples = int(SeasonCounts.at[Season,'Samples'])
    SampleStratified = SampleStratified.append(df[df.Season == Season].sample(NumSamples,random_state=1))

In [26]:
SampleStratified.count()

Text       332
Speaker    256
Episode    332
Season     332
Show       332
dtype: int64

In [27]:
# Ok, we have our stratified sample. Let's do now Oversampling using SMOTE