# Sprint 5 Task 1
> **Statement**

Learn how to perform data mining with Python.
Level 1
- Exercise 1

Get a set of sports-themed data that you like. Perform a data sampling generating a simple random sample and a systematic sample.

> **Simple random sample:**
In a simple random sample, every member of the population has an equal chance of being selected. Your sampling frame should include the whole population.
To conduct this type of sampling, you can use tools like random number generators or other techniques that are based entirely on chance.

> **Systematic sampling:**
Systematic sampling is similar to simple random sampling, but it is usually slightly easier to conduct. Every member of the population is listed with a number, but instead of randomly generating numbers, individuals are chosen at regular intervals.

Level 2

- Exercise 2

Continue with the set of sports-themed data and generate a stratified sample and a sample using SMOTE (Synthetic Minority Oversampling Technique).

> **Stratified sampling:**
Stratified sampling involves dividing the population into subpopulations that may differ in important ways. It allows you draw more precise conclusions by ensuring that every subgroup is properly represented in the sample.
To use this sampling method, you divide the population into subgroups (called strata) based on the relevant characteristic (e.g. gender, age range, income bracket, job role).
Based on the overall proportions of the population, you calculate how many people should be sampled from each subgroup. Then you use random or systematic sampling to select a sample from each subgroup.

> **Oversampling using SMOTE:**
In SMOTE (Synthetic Minority Oversampling Technique) we synthesize elements for the minority class, in the vicinity of already existing elements.

Level 3

- Exercise 3

Continue with the set of sports data and generate a sample using the Reservoir sampling method.

> **Reservoir Sampling:**
In SMOTE (Synthetic Minority Oversampling Technique) we synthesize elements for the minority class, in the vicinity of already existing elements.

In [97]:
# Import Libraries
import numpy as np
import pandas as pd

In [98]:
# Update Libraries first time
# %pip install upgrade numpy
# %pip install upgrade pandas

In [99]:
# Deactivate / Activate warnings
import warnings
# warnings.filterwarnings('ignore')
warnings.filterwarnings("default")

## - Exercise 1

Get a set of sports-themed data that you like. Perform a data sampling generating a simple random sample and a systematic sample.

> **Simple random sample:**
In a simple random sample, every member of the population has an equal chance of being selected. Your sampling frame should include the whole population.
To conduct this type of sampling, you can use tools like random number generators or other techniques that are based entirely on chance.

> **Systematic sampling:**
Systematic sampling is similar to simple random sampling, but it is usually slightly easier to conduct. Every member of the population is listed with a number, but instead of randomly generating numbers, individuals are chosen at regular intervals.

In [100]:
df = pd.read_csv('./game-of-thrones.csv')
df

,Text,Speaker,Episode,Season,Show
0,[First scene opens with three Rangers riding t...,NaN,e1-Winter is Coming,season-01,Game-of-Thrones
1,What d’you expect? They’re savages. One lot s...,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones
2,I’ve never seen wildlings do a thing like thi...,WILL,e1-Winter is Coming,season-01,Game-of-Thrones
3,How close did you get?,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones
4,Close as any man would.,WILL,e1-Winter is Coming,season-01,Game-of-Thrones
...,...,...,...,...,...
33193,The Queen in the North! The Queen in the Nort...,ALL,e6,season-08,Game-of-Thrones
33194,ARYA's ship,CUT TO,e6,season-08,Game-of-Thrones
33195,ARYA stands at the prow and the ship sails awa...,NaN,e6,season-08,Game-of-Thrones
33196,Castle Black,CUT TO,e6,season-08,Game-of-Thrones
33197,"JON rides through the tunnel, with TORMUND beh...",NaN,e6,season-08,Game-of-Thrones

In [101]:
# Let's explore this dataset
round(df.describe(include="all"),1)

         Text Speaker Episode     Season             Show
count   33198   24842   33198      33198            33198
unique  31044     957      50          8                1
top       No.  TYRION      e4  season-02  Game-of-Thrones
freq      103    1543    2005       5357            33198

In [102]:
# Simple random sample:
SampleRandom = df.sample(5,random_state=1)
SampleRandom

,Text,Speaker,Episode,Season,Show
21239,(Smiles). Lord Bolton.,SANSA,e3,season-05,Game-of-Thrones
13383,Karhold!,THEON,e6-The Climb,season-03,Game-of-Thrones
21198,"I'm the sword in the darkness, the watcher on...",OLLY,e3,season-05,Game-of-Thrones
25704,I needed fresh air. The old women stink.,DAENERYS,e4,season-06,Game-of-Thrones
6923,"ARYA sits, expressionless, trying not to be no...",NaN,e4-Garden of Bones,season-02,Game-of-Thrones

In [103]:
# Systematic sampling:
def systematic_sampling(df, step):
    
    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
    
SampleSystematic = systematic_sampling(df, 100)
SampleSystematic

,Text,Speaker,Episode,Season,Show
0,[First scene opens with three Rangers riding t...,NaN,e1-Winter is Coming,season-01,Game-of-Thrones
100,You will train them yourselves. You will feed...,NED,e1-Winter is Coming,season-01,Game-of-Thrones
200,The queen has two brothers?,ROS,e1-Winter is Coming,season-01,Game-of-Thrones
300,And Lady Stark is not your mother. Making you...,TYRION,e1-Winter is Coming,season-01,Game-of-Thrones
400,[The scene shifts to Winterfell. Tyrion and th...,NaN,e1-Winter is Coming,season-01,Game-of-Thrones
...,...,...,...,...,...
32700,They took Missandei.,DAENERYS,e4,season-08,Game-of-Thrones
32800,"TYRION walks forward, alone. He turns a corner...",NaN,e6,season-08,Game-of-Thrones
32900,What?,JON,e6,season-08,Game-of-Thrones
33000,SAM stands.,NaN,e6,season-08,Game-of-Thrones
33100,"TYRION enters first, and looks at the chair in...",NaN,e6,season-08,Game-of-Thrones

In [104]:
# Let's explore a little bit this sample
SampleSystematic.describe()

        Text Speaker Episode     Season             Show
count    332     246     332        332              332
unique   331     125      50          8                1
top      No.  TYRION      e2  season-02  Game-of-Thrones
freq       2      20      20         54              332

## Exercise 2
Continue with the set of sports-themed data and generate a stratified sample and a sample using SMOTE (Synthetic Minority Oversampling Technique).

######  
---------
*Note: We keep the following code as example of stratification done with the WorldCups.csv, but discarded as it was a dataset too small.*

In [105]:

# OLD CODE - LEFT only for INFORMATION
# Let's stratify by subpopulations of winner's continent (Europe or America)
# df.Winner.unique()

# def continent(country):
#   EuropeanCountries = ('Italy', 'Germany FR','England','France', 'Spain', 'Germany')
#   AmericanCountries = ('Uruguay', 'Brazil', 'Argentina')
#   if country in EuropeanCountries: return "Europe"
#   elif country in AmericanCountries: return "America"
#   else: return "NaN"

# df['Continent'] = df.Winner.apply(continent)
# df.Continent.value_counts()

# Now that we have the stratification (Continent), we just have to choose a random sampling of each continent, 
# based on the overall proportions of the population. (11/9)

# The problem that we found is that our dataset is too small and the number of European Countries are 11, a prime number.
# Let's choose a bigger dataset

In [106]:
df.Season.describe()

count         33198
unique            8
top       season-02
freq           5357
Name: Season, dtype: object

### >Stratified sampling:
------
>**Stratified sampling**: Stratified sampling involves dividing the population into subpopulations that may differ in important ways. It allows you draw more precise conclusions by ensuring that every subgroup is properly represented in the sample. To use this sampling method, you divide the population into subgroups (called strata) based on the relevant characteristic (e.g. gender, age range, income bracket, job role). Based on the overall proportions of the population, you calculate how many people should be sampled from each subgroup. Then you use random or systematic sampling to select a sample from each subgroup.

In [107]:
# Let's stratify by Season (season-01 to season-08)
SeasonCounts = pd.DataFrame(df.Season.value_counts()).sort_index(axis=0) 
SeasonCounts

           Season
season-01    4479
season-02    5357
season-03    5295
season-04    4606
season-05    4145
season-06    4064
season-07    3085
season-08    2167

In [108]:
DfCounts = df.Season.count()
DfCounts

33198

In [109]:
SeasonCounts['Proportion']=SeasonCounts['Season'] / DfCounts

In [110]:
# So, we have the total count of registers in season column (33198) and each count of every season.
# Now we can design the sample taking the proportional amount of samples from each season.
SeasonCounts['Proportion'] = SeasonCounts.Season / DfCounts
SeasonCounts

           Season  Proportion
season-01    4479    0.134918
season-02    5357    0.161365
season-03    5295    0.159498
season-04    4606    0.138743
season-05    4145    0.124857
season-06    4064    0.122417
season-07    3085    0.092927
season-08    2167    0.065275

In [111]:
# Let's choose now a sample of 332 as the SampleSystematic but stratified.
SeasonCounts['Samples'] = round(SeasonCounts.Proportion *331)
SeasonCounts.Samples.sum()

332.0

In [112]:
SeasonCounts.reset_index()

       index  Season  Proportion  Samples
0  season-01    4479    0.134918     45.0
1  season-02    5357    0.161365     53.0
2  season-03    5295    0.159498     53.0
3  season-04    4606    0.138743     46.0
4  season-05    4145    0.124857     41.0
5  season-06    4064    0.122417     41.0
6  season-07    3085    0.092927     31.0
7  season-08    2167    0.065275     22.0

In [113]:
SeasonArray=SeasonCounts.index.values
SeasonArray

array(['season-01', 'season-02', 'season-03', 'season-04', 'season-05',
       'season-06', 'season-07', 'season-08'], dtype=object)

In [114]:
# Now we will take a random sample of each season with the number of samples calculated in SeasonCounts

# First Season
NumSamples = int(SeasonCounts.at['season-01','Samples'])
SampleStratified = df[df.Season =='season-01'].sample(NumSamples,random_state=1) 
SampleStratified.count()

Text       45
Speaker    35
Episode    45
Season     45
Show       45
dtype: int64

In [115]:
# Rest of Seasons
for x in range(1,8):
    Season = SeasonArray[x]
    NumSamples = int(SeasonCounts.at[Season,'Samples'])
    SampleStratified = SampleStratified.append(df[df.Season == Season].sample(NumSamples,random_state=1))

In [116]:
SampleStratified.count()

Text       332
Speaker    256
Episode    332
Season     332
Show       332
dtype: int64

In [117]:
# Ok, we have our stratified sample. Let's do now Oversampling using SMOTE

### >SMOTE:
------- 
>**Oversampling using SMOTE**: In SMOTE (Synthetic Minority Oversampling Technique) we synthesize elements for the minority class, in the vicinity of already existing elements.
-------
What is SMOTE?
SMOTE or Synthetic Minority Oversampling Technique is an oversampling technique but SMOTE working differently than your typical oversampling.
In a classic oversampling technique, the minority data is duplicated from the minority data population. While it increases the number of data, it does not give any new information or variation to the machine learning model.

For the reason above, Nitesh Chawla, et al. (2002) introduce a new technique to create synthetic data for oversampling purposes in their SMOTE paper.

SMOTE works by utilizing a k-nearest neighbour algorithm to create synthetic data. SMOTE first start by choosing random data from the minority class, then k-nearest neighbours from the data are set. Synthetic data would then be made between the random data and the randomly selected k-nearest neighbour. Let me show you the example below.

![](2022-01-17-17-39-23.png)

The procedure is repeated enough times until the minority class has the same proportion as the majority class.

🗨️ QUOTE from: https://towardsdatascience.com/5-smote-techniques-for-oversampling-your-imbalance-data-b8155bdbe2b5

In [118]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 42)
sm

SMOTE(random_state=42)

######
-----
What is random_state parameter?: 
If you use random_state=some_number, then you can guarantee that the output of Run 1 will be equal to the output of Run 2, i.e. your split will be always the same. It doesn't matter what the actual random_state number is 42, 0, 21, ... The important thing is that everytime you use 42, you will always get the same output the first time you make the split. This is useful if you want reproducible results, for example in the documentation, so that everybody can consistently see the same numbers when they run the examples. In practice I would say, you should set the random_state to some fixed number while you test stuff, but then remove it in production if you really need a random (and not a fixed) split.

🗨️ Quote from: https://stackoverflow.com/questions/28064634/random-state-pseudo-random-number-in-scikit-learn

In [119]:
## df_res = sm.fit_resample( X , Y )
# X, in numerical datasets is, for example, non fraud samples (0)
# Y, in the previous dataset, is fraud samples (1)

######
------
Now, we realize that our actual dataset *game-of-thrones.csv* is not the optimum one in order to make an SMOTE sampling. And probably neither for the next reservoir sampling. So, we prefer to change to the *battles.csv* dataset, also GOT related, where is going to have more sense to apply afterwards machine learning prediction, between if the battle is a win (1) or a loss (0).

In [120]:
Battle_df = pd.read_csv('./battles.csv')
Battle_df.columns

Index(['name', 'year', 'battle_number', 'attacker_king', 'defender_king',
       'attacker_1', 'attacker_2', 'attacker_3', 'attacker_4', 'defender_1',
       'defender_2', 'defender_3', 'defender_4', 'attacker_outcome',
       'battle_type', 'major_death', 'major_capture', 'attacker_size',
       'defender_size', 'attacker_commander', 'defender_commander', 'summer',
       'location', 'region', 'note'],
      dtype='object')

In [121]:
#Let's see if our dataset is unbalanced bettween win / loss
Battle_df.attacker_outcome.value_counts()

win     32
loss     5
Name: attacker_outcome, dtype: int64

In [122]:
# Yes, is definitely unbalanced to win result.
# Let's remove now all the columns that we are not interested:
Battle_df.drop(columns=['name','year','battle_number','note','location',
                        'attacker_2', 'attacker_3', 'attacker_4',
                        'defender_2', 'defender_3', 'defender_4'],inplace=True)

In [137]:
#Pre-Processing
# Let's fill NaN's with 0 in columns 'attacker_size' and 'defender_size' (is plausible NaN as 0 in these columns)
Battle_df.attacker_size.fillna(0,inplace=True); # ; ↔️ to suppress output
Battle_df.defender_size.fillna(0,inplace=True); # ; ↔️ to suppress output
# Let's categorize the rest of object's type columns
Battle_df['attacker_king'] = Battle_df['attacker_king'].astype('category')
Battle_df['defender_king'] = Battle_df['defender_king'].astype('category')
Battle_df['attacker_1'] = Battle_df['attacker_1'].astype('category')
Battle_df['defender_1'] = Battle_df['defender_1'].astype('category')
Battle_df['attacker_outcome'] = Battle_df['attacker_outcome'].astype('category')
Battle_df['battle_type'] = Battle_df['battle_type'].astype('category')
Battle_df['attacker_commander'] = Battle_df['attacker_commander'].astype('category')
Battle_df['defender_commander'] = Battle_df['defender_commander'].astype('category')
Battle_df['region'] = Battle_df['region'].astype('category')
Battle_df.dtypes

attacker_king         category
defender_king         category
attacker_1            category
defender_1            category
attacker_outcome      category
battle_type           category
major_death            float64
major_capture          float64
attacker_size          float64
defender_size          float64
attacker_commander    category
defender_commander    category
summer                 float64
region                category
dtype: object

In [132]:
Battle_df.iloc[[37]]

,attacker_king,defender_king,attacker_1,defender_1,attacker_outcome,battle_type,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,region
37,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Bolton,NaN,NaN,NaN,NaN,5000.0,8000.0,Stannis Baratheon,Roose Bolton,0.0,The North

In [134]:
# We delete last sample because it includes NaN values where there would not be.
Battle_df.drop([37],inplace=True)

In [135]:
# Let's prepare X & Y for sampling and posterior model training
X = np.array(Battle_df.loc[:, Battle_df.columns != 'attacker_outcome'])
Y = np.array(Battle_df.loc[:, Battle_df.columns == 'attacker_outcome']).reshape(-1, 1)

Maybe I have to convert text data to numeric? - Let's ask tomorrow to Ricard.
https://stackoverflow.com/questions/65280842/smote-could-not-convert-string-to-float

In [136]:
# Finally, we can sample with SMOTE!!!
Battle_df_res = sm.fit_resample( X , Y )
Battle_df_res

ValueError: could not convert string to float: 'Joffrey/Tommen Baratheon'